*,
::after,
::before {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    transition: all 0.2s;
}

//variables
$bg-color: #ffe6c9;
$main-color: #7f265b;
$light-color: #a1a1a1;
$text-color: #525252;

body {
    min-height: 100vh;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 4rem 10%;
    display: grid;
    grid-template-columns: 3fr 2fr;

    .container-left {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            height: 100%;
            object-fit: contain;
        }
    }

    .container-right {
        padding: 0 1rem;

        .form {
            display: grid;
            grid-template-rows: min-content 1fr;

            .form-header {
                position: relative;
                img {
                    height: 40px;
                    width: 40px;
                }

                .title {
                    color: $text-color;
                    font-size: 1.5rem;
                    padding: 0.5rem 0;
                    font-weight: 700;
                }

                .small-title {
                    color: $light-color;
                    font-size: 0.8rem;
                    margin-bottom: 1rem;
                }

                .link {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    font-size: 0.9rem;
                    color: $light-color;
                    border: 0.5px solid
                        lighten($color: $light-color, $amount: 10);
                    border-radius: 6px;
                    column-gap: 10px;
                    padding: 8px 0;
                    font-weight: 600;

                    img {
                        height: 25px;
                        width: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .separator {
                    color: $light-color;
                    font-size: 0.6rem;
                    text-align: center;
                    padding: 1rem 0;
                }
            }

            .form-content {
                .remember {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 0;
                    .chekbox {
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        label {
                            color: $light-color;
                            font-size: 0.7rem;
                        }
                    }

                    .link {
                        font-size: 0.8rem;
                        color: $main-color;
                        font-weight: 700;
                    }
                }
                .form-control {
                    display: flex;

                    flex-direction: column;
                    label {
                        font-size: 0.8rem;
                        color: $text-color;
                        padding: 5px 0;
                        font-weight: 600;
                    }

                    input {
                        height: 35px;
                        border: 0.5px solid
                            lighten($color: $light-color, $amount: 20);
                        border-radius: 6px;
                        padding: 0 5px;
                        color: $text-color;
                        font-weight: 500;
                        &::placeholder {
                            font-weight: 500;
                            color: $light-color;
                        }
                    }
                }
                .btn-container {
                    padding: 0.8rem 0;

                    .btn {
                        background-color: $main-color;
                        height: 40px;
                        color: #ffff;
                        font-weight: 600;
                        cursor: pointer;

                        border-radius: 5px;

                        &:hover {
                            background-color: lighten(
                                $color: $main-color,
                                $amount: 10
                            );
                        }
                    }
                }

                .create-account {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem 0;
                    gap: 5px;
                    .text {
                        color: $light-color;
                        font-size: 0.8rem;
                    }

                    a {
                        color: $main-color;
                        font-size: 0.8rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.pop-up {
    display: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: absolute;
    top: -100%;
    right: 3rem;
    background-color: #fff;
    height: 150px;
    width: 200px;
    z-index: 10000;
    padding: 0.5rem;
    color: $text-color;
    border-radius: 6px;

    display: grid;
    grid-template-rows: min-content 1fr;
    header {
        text-align: end;
        i {
            font-weight: 700;
            font-size: 1.2rem;
            cursor: pointer;
            &:hover {
                color: #000;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        i {
            font-size: 3rem;
            font-weight: 700;
            color: rgb(245, 63, 63);
        }

        h1 {
            font-size: 1.2rem;
            font-weight: 900;
        }

        p {
            font-size: 0.8rem;
        }
    }
}

.pop-up.open {
    top: 1rem;
}

.border-red {
    border-color: rgb(247, 97, 97) !important;
    box-shadow: rgba(247, 97, 97, 0.16) 0px 1px 4px;
}

.msg {
    color: rgb(247, 97, 97);
    height: 18px;
    font-size: 0.8rem;
    font-weight: 300;
}

//media queries

@media screen and (max-width: 992px) {
    .container {
        display: block;

        justify-content: center;
        .container-left {
            display: none;
        }

        .container-right {
            max-width: 450px;
            margin: 0 auto;
        }
    }
}
